html,
body {
	height: 100%;
}

#group-diferenciais{
	margin-top: 20px;
}

.btn-gold{
	background-color: #B0924E;
	color: white;
}

.titulo{
	text-align: center;
	color: #B0924E;
}


footer {
	background-color: #333;
	color: white;
	padding: 20px;
	margin-top: 20px;
}


header{
	background-image: url(../img/manmontainback.jpg);
	background-size: cover;
	background-position: top center;
	height: 100%;
}

header h3{
	margin-top: 0;
	margin-bottom: 0;
}



.topBanner-SaibaMais{

	color: #FFF;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	width: 80%;
	border-radius: 8px;
}

@media(min-width: 768px){
	.comofunciona-responsivo
	{
		width: 50%;
		float: left;
	}

	#group-diferenciais
	{
		width: 50%;
		float: right;
	}
}


nav {
	background-color: transparent;
}